@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1903px;
  width: 91.48%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
header > div {
  display: flex;
  /* justify-content: space-between; */
}

header {
  position: relative;
  z-index: 5;
}

header > div > h1 {
  padding: 34px 0;
}

.section1 {
  transform: translateY(-112px);
}

.brand-name>a {
  text-indent: -9999px;
}

.brand-name>a>img {
  float: right;
}

nav {
  padding: 34px 0 0 3.33%;
  margin: 0 39.51% 0 0;
  /* margin-right: 39.51%; */
  flex-basis: 39.51%;
}

.navbar > li > a {
  color: white;
  font-size: 25px;
}

.navbar li {
  /* padding-right: 2.64%; */
  padding: 0 2.64% 0 0;
}

.navbar li:last-child {
  padding-right: 0;
}

.navbar-login {
  /* padding-top: 34px; */
  padding: 34px 0 0;
  flex-basis: 11.41%;
}

.navbar-login li {
  font-size: 25px;
}

.sign-in-btn {
  padding: 16px 36px 18px 36px;
  border-radius: 53px;
  background-color: white;
  color: #437fc5;
}

/*=================================
Header styling ends here
=================================*/

/*=================================
main styling starts here
=================================*/
.section1 {
  background-image: url('https://via.placeholder.com/1903x1034/FF0000/000000');
}

.section1-title {
  position: relative;
  /* top: -882px; */
  top: -743px;
  color: white;
  font-size: 61px;
  font-weight: bold;
  text-align: center;
}

.get-started-btn {
  padding: 23px 3.73% 25px 3.73%;
  margin: 0 auto;
  border-radius: 53px;
  position: absolute;
  left: 50%;
  background-color: white;
  color: #437fc5;
  font-size: 31px;
  transform: translate(-50%, -674px);
  /* display: block; */
  /* width: 200px; */
  /* position: relative; */
  /* transform: translateY(-674px); */
  /* transform: translateY(-674px); */
}

.section2-title {
  font-size: 106px;
  font-weight: bold;
}

.section2-para {
  font-size: 31px;
  line-height: 48px;
  transform: translateY(-5px);
}


.section2 > div {
  /* padding-top: 143px;
  padding-bottom: 131px; */
  padding: 143px 0 131px 0;
  display: flex;
  justify-content: space-between;
}

.section2-title {
  /* padding-left: 1.6%; */
  padding: 0 0 0 1.6%;
  flex-basis: 38.88%;
  transform: translateY(-14px);
}

.section3-title {
  font-size: 62px;
  font-weight: bold;
}

.section3-titleinfo {
  margin-top: 6px;
  font-weight: normal;
  display: block;
}

.section3-para {
  margin-top: 41px;
  font-size: 25px;
  line-height: 43px;
}


.section3,
.section4 {
  margin-left: 9px;
  border: 5px solid black;
}

.section4 {
  /* padding-bottom: 109px; */
}

.section3 > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section3-left {
  /* padding-left: 5.16%; */
  padding: 0 0 0 9%;
  /* padding-left: 9%; */
  /* margin-top: 159px; */
  margin: 159px 0 0;
  flex-basis: 36.81%;
}

.section3-img {
  /* transform: translateX(80px); */
}

.section2-right {
  flex-basis: 41.92%;
}

.section2-right > a {
  margin-top: 52px;
}

.section4-left {
  border-right: 4px solid black;
  padding: 0 0 109px;
}

.section3-left > a,
.section4-right > div > a {
  margin: 63px 0 0;
  /* margin-top: 63px; */
}

.section4-right > div {

  width: 66%;
  padding: 0 0 0 16%;
  /* padding-left: 16%; */
}

.section4-left-para,
.section4-right-para {
  margin: 41px 0 0;
  /* margin-top: 41px; */
  font-size: 25px;
  line-height: 43px;
}

.section4 > div {
  width: 100%;
  /* padding: 0 0 109px; */
  /* padding-bottom: 109px; */
  display: flex;
}


.section4-right-title {
  margin:98px 0 0;
  font-size: 62px;
  font-weight: bold;
  /* margin-top: 98px; */
}

.section4-left > div {
  width: 66%;
  /* padding-left: 18%; */
  padding: 0 0 0 18%;
  /* padding-left: 5.16%; */

}

.section4-left > div > a {
  /* margin-top: 104px; */
  margin: 104px 0 0;

}

.section4-left-title {
  margin:98px 0 0;
  font-size: 62px;
  font-weight: bold;
  /* margin-top: 98px; */
}

.section6-para {
  font-size: 31px;
}


.section7-para2 {
  font-size: 31px;
}

/* .section7-para2 {
  font-size: 31px;
} */


.section5-title {
  font-size: 106px;
  font-weight: bold;
}

.get-started-link {
  position: relative;
  color: black;
  font-size: 29px;
}

.get-started-link ::after {
  content: " ";
  width: 150px;
  /* height: 0; */
  border-top: 2px solid gray;
  position: absolute;
  bottom: -8px;
  left: 0;

}

.section4-right {
  padding: 0 0 109px;
}

.section4-left-img {
  /* transform: translateX(-79px); */
}

.section4-right-img {
  /* transform: translateX(79px); */
}

.section4-left-img > img,
.section4-right-img > img {
  width: auto;
}


/* .sec5-div1-title ,
.sec5-div2-title ,
.sec5-div3-title ,
.sec5-div4-title ,
.sec5-div5-title , */
.sec5-div-title {
  /* margin-bottom: 17px; */
  margin:0 0 17px;
  font-size: 35px;
  font-weight: bold;
}


/* .section5-div1 > p ,
.section5-div2 > p ,
.section5-div3 > p ,
.section5-div4 > p ,
.section5-div5 > p , */
.section5-div > p {
  font-size: 23px;

}

/* .section5-div1 ,
.section5-div2 ,
.section5-div3 ,
.section5-div4 ,
.section5-div5 , */
.section5-div {
  width: 37.33%;
}

.section5-title {

  width: 53.57%;
  /* margin: 307px auto 165px auto; */
  margin: 0 auto;
  text-align: center;
}

/* .sec5-flex1,
.sec5-flex2, */
.sec5-flex {
  display: flex;
  justify-content: space-between;
}

.sec5-flex1 {
  /* margin-top: 165px; */
  margin: 165px 0 0;
}

.sec5-flex2 {
  /* margin-top: 126px; */
  margin: 126px 0 0;
}

.sec5-flex3 {
  /* margin-top: 282px;
  margin-bottom: 186px; */
  margin: 282px 0 186px;
}

.section5-div1 {
  /* margin-left: 4.88%; */
  margin:0 0 0 4.88%;
}

.section5-div3 {
  /* margin-top: 126px; */
  /* margin-left: 13.32%; */
  margin: 0 0 0 13.32%;
}

.section5-div5 {
  /* margin-top: 282px; */
  /* margin-left: 3.61%; */
  margin: 0 0 0 3.61%;
}

.section5-div2 {
  /* margin-right: 6.43%; */
  margin: 0 6.43% 0 0;
  transform: translateY(42px);
}

.section5-div4 {
  /* margin-right: 8.67%; */
  margin: 0 8.67% 0 0;
  transform: translateY(82px);
}

.section5-div6 {
  /* transform: translateY(252px); */
  transform: translateY(-30px);
}

.sec5-div1-title {
  /* margin-top: 39px; */
  margin: 39px 0 0 ;
}

.sec5-div2-title {
  /* margin-top: 60px; */
  margin: 60px 0 0 ;
}

.sec5-div3-title {
  /* margin-top: 61px; */
  margin: 61px 0 0 ;
}

.sec5-div4-title {
  /* margin-top: 45px; */
  margin: 45px 0 0;
}

.sec5-div5-title {
  /* margin-top: 54px; */
  margin: 54px 0 0 ;
}

.sec5-div6-title {
  /* margin-top: 53px; */
  margin: 53px 0 0 ;
}

/* .section5-div1 > p,
.section5-div2 > p,
.section5-div3 > p,
.section5-div4 > p,
.section5-div5 > p, */
.section5-div > p {
  width: 76.1%;
}

.section5 > div {
  /* margin-top: 307px; */
  margin: 307px 0 0;
}

.section5 > div > a {
  position: relative;
  left: 50%;
  color: black;
  font-weight: bold;
  font-size: 62px;
  transform: translateX(-50%);
  /* margin: 0 auto; */
}


.section5 > div > a ::after {
  content: " ";
  width: 480px;
  /* height: 0; */
  border-top: 5px solid black;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.section6-title {
  /* width: 38.35%; */
  font-size: 64px;
  font-weight: bold;
}

.section6-para {
  /* width: 47.32%; */
  /* margin-top: 48px; */
  margin: 48px 0 0 ;
  line-height: 51px;

}

.section6-left {
  /* padding-top: 303px; */
  /* padding-left: 5.05%; */
  padding: 0 0 0 5.05%;
  flex-basis: 47.38%;
}

.section6-left > a {
  /* margin-top: 102px; */
  margin: 102px 0 0;
}


.section6 > div {
  /* padding-top: 303px; */
  padding: 303px 0 0 ;
  display: flex;
  justify-content: space-between;
}

.section6-img {
  flex-basis: 37.96%;
  transform: translateY(14px);
}

.section7-title {
  width: 39.01%;
  /* margin-top: 66px; */
  font-size: 64px;
  font-weight: bold;
}

/* .section7-para1, */
.section7-para {
  width: 47.27%;
  /* margin-top: 48px; */
  margin: 48px 0 0;
  font-size: 31px;
  line-height: 51px;
}

.section7 > div  > * {
  /* margin-left: 5.05%; */
}

.section7 > div > a {
  /* margin-top: 100px; */
  margin: 100px 0 0;
}

.section7 > div {
  /* padding-bottom: 170px; */
  padding: 0 0 170px;
  margin: 66px 0 0 8.9%;
  /* margin-top: 66px;
  margin-left: 8.9%; */
}


.section8 > div {
  padding: 251px 0;
  display: flex;
  justify-content: space-between;
}

.section8-left {
  /* padding-left: 5.05%; */
  padding: 0 0 0 5.05%;
  flex-basis: 35.43%;
}

.section8-right {
  flex-basis: 40.20%;
}

.section8-title {
  font-size: 156px;
  font-weight: bold;
}

.website-list li {
  /* margin-bottom: 56px; */
  margin: 0 0 56px;
  display: list-item;
  color: #f8f9f2;
  font-size: 30px;
  line-height: 43px;
  list-style-type: decimal;
  list-style-position: inside;
}

.section8 {
  background-color: #526dd8;
  color: white;
}

.section8-right > h4 {
  font-size: 35px;
  font-weight: bold;
}

.section8-left > a {
  position: relative;
  color: white;
  font-size: 29px;
}

.section8-left > a.get-started-link ::after,
.section8-left > a:nth-of-type(2) ::after {
  content: " ";
  width: 150px;
  /* height: 0; */
  border-top: 2px solid white;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.section8-left > a:nth-of-type(2) {
  /* margin-left: 71px; */
  margin: 0 0 0 71px;
}

.section8-title {
  /* padding-bottom: 151px; */
  padding: 0 0 151px;
}

.section8-right > h4 {
  line-height: 45px;
  /* margin-bottom: 114px; */
  margin: 0 0 114px;
  position: relative;
}

.section8-right > h4::after {
  content: " ";
  width: 58px;
  /* height: 0; */
  border-top: 3px solid white;
  position: absolute;
  bottom: -53px;
  left: 0;

}

/*=================================
main styling ends here
=================================*/

/*=================================
footer styling starts here
=================================*/

footer > div {
  padding: 140px 0 344px 0;
  color: #a4a6a9;
}


footer > div {
  display: flex;
  justify-content: space-between;
}

.links-list {
  /* margin-left: 7.81%; */
  margin: 0 0 0 7.81%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  flex-basis: 65.24%;
}

.links-list li {
  display: list-item;
  /* margin-bottom: 19px; */
  margin: 0 0 19px;
}

.brand-info {
  flex-basis: 21.82%;
}



.links-sublist > li > a {
  font-size: 22px;
  color: #a4a6a9;

}

.links-sublist li:first-of-type {
  /* margin-bottom: 38px; */
  margin: 0 0 38px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.brand-info > p {
  font-size: 20px;
  line-height: 29px;
}

.brand-info > p:nth-of-type(n+2) {
  /* margin-top: 23px; */
  margin: 23px 0 0 ;
}

.brand-info>a {
  text-indent: -9999px;
  margin-bottom: 38px;
}

.brand-info > a > img {
  float: right;
}

.social-icons {
  margin-top: 44px;
}

.social-items ::before {

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

}

.social-items {
  /* margin-left: 6.6%; */
  margin: 0 0 0 6.6%;
}

.social-items:first-of-type {
  margin-left: 0;
}

.social-items::before {
  font-family: "FontAwesome";
  font-size: 30px;
}


.social-items:nth-of-type(1)::before {
  content: "\f09a";
}

.social-items:nth-of-type(2)::before {
  content: "\f099";
}

.social-items:nth-of-type(3)::before {
  content: "\f0d5";
}

.social-items:nth-of-type(4)::before {
  content: "\f16a";
}

.social-items:nth-of-type(5)::before {
  content: "\f231";
}

.social-items:nth-of-type(6)::before {
  content: "\f16d";
}

.social-items:nth-of-type(7)::before {
  content: "\f0e1";
}




.social-items a {
  /* color: transparent;
  overflow: hidden; */
  text-indent: -9999px;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}