@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1903px;
  width: 91.48%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
header > div {
  margin: 0 4.67% 0 3.73%;
  display: flex;
  justify-content: flex-start;
}

header {
  position: relative;
  z-index: 5;
}

header > div > h1 {
  padding: 34px 0;
}

.section1 {
  transform: translateY(-112px);
}

.brand-name > a {
  text-indent: -9999px;
}

.brand-name > a > img {
  float: right;
}

nav {
  padding-top: 34px;
  margin-left: 3.3%;
  flex-basis: 60.51%;
}

.navbar > li > a {
  color: #FFF;
  font-size: 25px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  letter-spacing: -1.25px;
  }
  
.navbar li {
  padding-right: 4.2%;
}

.navbar li:last-child {
  padding-right: 0;
}

.navbar-login {
  padding-top: 16px;
  padding-top: 27px;
  margin-left: 17.8%;
  display: flex;
  flex-basis: 11.4%;
  letter-spacing: -.5px;

}

.navbar-login li {
  color: #FFF;
  font-size: 25px;
}
.navbar-login li:nth-of-type(2){
  margin-left: 14%;
}
.navbar-login li:nth-of-type(1),
.navbar-login li:nth-of-type(3){
  margin-top: 18px;
}


.sign-in-btn {
  width: max-content;
  padding: 15px 49%;
  border-radius: 53px;
  background-color: #FFF;
  color: #437fc5;
}
.fa-globe {
  color: #FFF;
  font-size: 29px;
}

.res-view {
  display: none;
}

/*=================================
Header styling ends here
=================================*/

/*=================================
main styling starts here
=================================*/

.section1 > div {
  width: 100%;
}

.section1-title {
  margin-bottom:71px;
  color: #FFF;
  font-size: 61px;
  font-weight: bold;
  text-align: center;
}

.get-started-btn {
  width: fit-content;
  padding: 23px 3.73% 25px 3.73%;
  margin: 0 auto;
  border-radius: 53px;
  display: block;
  background-color: #FFF;
  color: #437fc5;
  font-size: 31px;
}

.section1-content {
  width: 100%;
  position: absolute;
  top: 27.8%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.section2-title {
  padding-left: 1.6%;
  flex-basis: 38.88%;
  font-size: calc(7.3*91%);
  font-weight: bold;
  transform: translateY(-14px);
}

.section2-para {
  font-size: 31px;
  line-height: 1.6;
  transform: translateY(-5px);
}


.section2 > div {
  padding: 143px 0 243px 0;
  display: flex;
  justify-content: space-between;
}

.section3-title {
  font-size: 62px;
  font-weight: bold;
}

.section3-titleinfo {
  margin-top: 6px;
  font-weight: normal;
  display: block;
}

.section3-para {
  margin-top: 41px;
  font-size: 25px;
  line-height: 1.7;
}

.section3-img {
  flex-basis: 50%;
}
.section3-img > img {
  height: 100%;
  }
  
.section3,
.section4 {
  margin-left: 9px;
  border: 5px solid #000;
}

.section3 > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section3-left {
  padding: 159px 0 159px 8%;
  flex-basis: 33%;
}

.section2-right {
  flex-basis: 41.92%;
}

.section2-right > a {
  margin-top: 52px;
}

.section4-left {
  padding-bottom: 109px;
  border-right: 4px solid #000;
  flex-basis: 50%;
}

.section3-left > a,
.section4-right > div > a {
  margin-top: 63px;
}

.section4-right > div {
  padding-left: 16%;
  width: 66%;
}

.section4-left-para,
.section4-right-para {
  margin-top: 41px;
  font-size: 25px;
  line-height: 1.75;
}

.section4 > div {
  width: 100%;
  display: flex;
}


.section4-right-title {
  margin-top: 98px;
  font-size: 62px;
  font-weight: bold;
}

.section4-left > div {
  padding-left: 16%;
  width: 66%;
}

.section4-left > div > a {
  margin: 104px 0 0;
}

.section4-left-title {
  margin-top: 98px;
  font-size: 62px;
  font-weight: bold;
}

.section6-para {
  font-size: 31px;
}


.section7-para2 {
  font-size: 31px;
}

.section5-title {
  width: 53.57%;
  margin: 0 auto;
  font-size: calc(7.3*91%);
  font-weight: bold;
  text-align: center;
}

.get-started-link {
  position: relative;
  color: #000;
  font-size: 29px;
}

.get-started-link ::after {
  content: " ";
  width: 150px;
  border-top: 2px solid #808080;
  position: absolute;
  bottom: -8px;
  left: 0;

}

.section4-right {
  padding-bottom: 109px;
  flex-basis: 50%;
}

.section4-left-img > img,
.section4-right-img > img {
  width: 100%;
}

.sec5-div-title {
  margin-bottom: 17px;
  font-size: 35px;
  font-weight: bold;
}

.section5-div > p {
  font-size: 23px;

}

.section5-div {
  width: 37.33%;
}

.sec5-flex {
  display: flex;
  justify-content: space-between;
}

.sec5-flex1 {
  margin-top: 165px;
}

.sec5-flex2 {
  margin-top:126px;
}

.sec5-flex3 {
  margin: 282px 0 186px;
}

.section5-div1 {
  margin-left: 4.88%;
}

.section5-div3 {
  margin-left: 13.32%;
}

.section5-div5 {
  margin-left: 3.61%;
}

.section5-div2 {
  margin-right: 6.43%;
  transform: translateY(42px);
}

.section5-div4 {
  margin-right: 8.67%;
  transform: translateY(82px);
}

.section5-div6 {
  transform: translateY(-30px);
}

.sec5-div1-title {
  margin-top: 39px;
}

.sec5-div2-title {
  margin-top: 60px;
}

.sec5-div3-title {
  margin-top: 61px;
}

.sec5-div4-title {
  margin-top: 45px;
}

.sec5-div5-title {
  margin-top: 54px;
}

.sec5-div6-title {
  margin-top: 53px;
}

.section5-div > p {
  width: 76.1%;
}

.section5 > div {
  margin: 307px auto 0;
}

.section5 > div > a {
  position: relative;
  left: 50%;
  color: #000;
  font-weight: bold;
  font-size: 62px;
  transform: translateX(-50%);
}


.section5 > div > a ::after {
  content: " ";
  width: 480px;
  border-top: 5px solid #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.section6-title {
  font-size: 64px;
  font-weight: bold;
}

.section6-para {
  margin-top: 48px;
  line-height: 1.8;
}

.section6-left {
  padding-left: 5.05%;
  flex-basis: 47.38%;
}

.section6-left > a {
  margin-top: 102px;
}


.section6 > div {
  padding-top: 303px;
  display: flex;
  justify-content: space-between;
}

.section6-img {
  flex-basis: 37.96%;
  transform: translateY(14px);
}

.section7-title {
  width: 39.01%;
  font-size: 64px;
  font-weight: bold;
}

.section7-para {
  width: 47.27%;
  margin-top: 48px;
  font-size: 31px;
  line-height: 1.65;
}

.section7 > div > a {
  margin-top: 100px;
}

.section7 > div {
  padding-bottom: 170px;
  margin: 66px auto 0 8%;
}


.section8 > div {
  padding: 251px 0;
  display: flex;
  justify-content: space-between;
}

.section8-left {
  padding-left: 5.05%;
  flex-basis: 35.43%;
}

.section8-right {
  flex-basis: 40.20%;
}

.section8-title {
  font-size: calc(10.7*91%);
  font-weight: bold;
}

.website-list li {
  margin-bottom: 56px;
  display: list-item;
  color: #f8f9f2;
  font-size: 30px;
  line-height: 1.45;
  list-style-type: decimal;
  list-style-position: inside;
}

.section8 {
  background-color: #526dd8;
  color: #FFF;
}

.section8-right > h4 {
  font-size: 35px;
  font-weight: bold;
}

.section8-left > a {
  position: relative;
  color: #FFF;
  font-size: 29px;
}

.section8-left > a.get-started-link ::after,
.section8-left > a:nth-of-type(2) ::after {
  content: " ";
  width: 150px;
  border-top: 2px solid #FFF;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.section8-left > a:nth-of-type(2) {
  margin-left: 71px;
}

.section8-title {
  padding-bottom: 151px;
}

.section8-right > h4 {
  margin-bottom: 114px;
  position: relative;
  line-height: 1.3;
}

.section8-right > h4::after {
  content: " ";
  width: 58px;
  border-top: 3px solid #FFF;
  position: absolute;
  bottom: -53px;
  left: 0;

}

/*=================================
main styling ends here
=================================*/

/*=================================
footer styling starts here
=================================*/

footer > div {
  padding: 140px 0 344px 0;
  color: #a4a6a9;
}


footer > div {
  display: flex;
  justify-content: space-between;
}

.links-list {
  margin-left: 7.81%;
  display: flex;
  justify-content: space-between;
  flex-basis: 65.24%;
}

.links-list li {
  margin-bottom: 19px;
  display: list-item;
}

.brand-info {
  flex-basis: 21.82%;
}



.links-sublist > li > a {
  font-size: 22px;
  color: #a4a6a9;

}

.links-sublist li:first-of-type {
  margin-bottom: 38px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.brand-info > p {
  font-size: 20px;
  line-height: 1.45;
}

.brand-info > p:nth-of-type(n+2) {
  margin-top: 23px;
}

.brand-info>a {
  margin-bottom: 38px;
  text-indent: -9999px;
}

.brand-info > a > img {
  float: right;
}

.social-icons {
  margin-top: 44px;
}

.social-items {
  margin-left: 4.8%;
}

.social-items:first-of-type {
  margin-left: 0;
}

.social-items::before {
  font-family: "FontAwesome";
  font-size: 30px;
}


.social-items:nth-of-type(1)::before {
  content: "\f09a";
}

.social-items:nth-of-type(2)::before {
  content: "\f099";
}

.social-items:nth-of-type(3)::before {
  content: "\f0d5";
}

.social-items:nth-of-type(4)::before {
  content: "\f16a";
}

.social-items:nth-of-type(5)::before {
  content: "\f231";
}

.social-items:nth-of-type(6)::before {
  content: "\f16d";
}

.social-items:nth-of-type(7)::before {
  content: "\f0e1";
}




.social-items a {
  text-indent: -9999px;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/

@media only screen and (max-width: 1400px) {
  .navbar-login {
    margin-left: 5%;
  }
  .navbar-login li:not(:nth-of-type(3)) {
    display: none;
  }
  
  .res-view{
    display: block;
  }
  nav {
    display: none;
  }
  header > div {
    justify-content: space-between;
  }
  
  .section1-content {
    top:60%;
  }
}

@media only screen and (max-width: 1023px) {
  .navbar-login li:not(:nth-of-type(3)) {
    display: none;
  }

  .res-view {
    display: block;
  }
  nav {
    display: none;
  }
  header > div {
    justify-content: space-between;
  }

  .section2-title {
    flex-basis: 52.88%;
    font-size: 57px;
  }

  .section3 > div {
    flex-wrap: wrap;
  }

  .section3-left { 
    margin-top: 87px;
    flex-basis: 80.62%;
  }

  .section3-img {
    flex-basis:100%;
  }  

  .section8-title {
    font-size: 92px;
  }

  .section8-left > a:nth-of-type(2) {
    margin:0;
  }

  .links-list {
    margin: 0 ;
    flex-basis: 100%;
  }
  footer > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .brand-info {
    flex-basis: 100%;
  }


  .section4-left {
    border-right: 0;
  }

  .section4-left > div {
    padding-left: 7%;
  }

  .section4 > div {
    flex-wrap: wrap;
  }

  .section4-left-img > img, .section4-right-img > img {
    width:100%;
  }

  .section3-img {
    margin-top: 100px;
  }

  .section5-title {
    width: 60%;
  }

}

@media only screen and (max-width: 767px) {
  .section2 > div {
    flex-wrap: wrap;
  }

  .section2-title {
    flex-basis: 100%;
    font-size: 60px;
  }

  .section3-left {
    flex-basis: 100%;
  }

  .section5-title {
    width: 96%;
    font-size: 60px;
  }

  .get-started-link {
    font-size: 25px;
  }
  .sec5-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .section5-div {
    margin-left: 8.88%;
    flex-basis: 100%;
  }

  .section5-div6 {
    transform: translateY(69px);
  }
  
  .section5 > div > a ::after {
    width: 250px;
  }

  .section2-right {
    flex-basis: 100%;
  }
  .section4-left > div {
    width: 93%;
  }

  .section5 > div > a {
    font-size: 31px;
  }

  .section7-title {
    width: 100%;
  }
  .section7-para {
    width: 96%;
  }

  .section8 > div{
    flex-wrap: wrap;
  }
  .section8-title {
    font-size: 72px;
  }

  .section8-left {
    padding-bottom: 100px;
  }
    
  .section8-left > a {
    margin-bottom: 50px;
  }

  .section8-left,
  .section8-right {
    flex-basis: 100%;
  }
  .links-sublist li:nth-of-type(n+2){
    display: none;
  }
  .links-list {
    display: flex;
    flex-direction: column;
  }

  .links-sublist li:nth-of-type(1)::after {
    content: " \f078";
    font-family: "FontAwesome";
    font-size: inherit;
  }
  .social-items {
    margin-left: 3%;
  }
  .section1-title {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 35px;

  }
  .section6 > div {
    flex-wrap: wrap;
  }

  .section6-left,
  .section6-img
  {
    flex-basis: 100%;
  }
  .section6-img
  {
    margin-top: 100px;
  }

  .get-started-btn {
    padding: 5px 3.73% 5px 3.73%;
    font-size: 20px;
  }

  .navbar-login li:nth-of-type(1) ,
  .navbar-login li:nth-of-type(2)
  {
    visibility:hidden;
  }

  .section4-left,
  .section4-right {
    flex-basis: 100%;
  }

  h4[class$="title"] {
    font-size: 53px;
  }


}


@media only screen and (max-width: 420px) {
  .section1-title {
    margin-bottom: 5px;
    color: #FFF;
    font-size: 22px;
  }
}